*

!*/
!.gitignore
!.gitmodules
!.clang-format
!*.c
!*.h
!*.cpp
!*.hpp
!*.rb
!*.ioc
!*.md
!lib/F4
!lib/F7
!lib/MLAbcCpp
!lib/MLAbcCppSTM32
!*.eww
!*.s
!*.ewp
!*flash.icf
!CMakeLists.txt
!*.ld
!arm-none-eabi-gcc_toolchain.cmake
CMakeFiles
